<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<h1>text filter</h1>
<form action="/filter" method="get" accept-charset="utf-8">
    

<input type='textarea' name='text'/><br />
<input type="checkbox" name="capitalize">capitalize <br />
<input type="checkbox" name="rmvpunctuation">rmvpunctuation <br />
<input type="checkbox" name="newlineremove">newlineremove <br />
<input type="checkbox" name="charcount">charcount <br />
<input type="checkbox" name="spacermv">space remover <br />
<input type="submit" />
</form>
</body>
</html>
    
